01-socket-server/node_modules/
02-bandNames-nombresDeBandas/bandas-server-app/node_modules/
02-bandNames-nombresDeBandas/bandas-front-app/node_modules/
03-ticket-app/frontend/node_modules/
03-ticket-app/backend/node_modules/